emoji==2.15.0
geopandas==1.1.2
google-play-scraper==1.2.7
joblib==1.5.3
nltk==3.9.1
numpy==2.0.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.30.0
pandas-stubs==2.2.2.240909
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
Sastrawi==1.0.1
scikit-learn==1.6.1
scipy==1.16.3
sklearn-pandas==2.2.0
threadpoolctl==3.6.0
